In [1]:
# Average departure delay of each airline per airport

# AIRLINE
# ORIGIN_AIRPORT
# total number of flight (int)
# operated rate (not cancelled %)
# delay rate (is departure delay %) --> exclude cancelled flight
# average delay minutes (departure delay, float) --> exclude non-delay flights

In [2]:
# total number of flight (int)
# > groupby, count flight_number

# operated rate (not cancelled %)
# > number of flights not cancelled / total number of flight
# > sum of (operated = 1, cancelled = 0)?

# delay rate (is departure delay %) --> exclude cancelled flight
# > number of flights delayed / number of flights operated

# average delay minutes (departure delay, float) --> exclude non-delay flights
# > groupby, mean?
# > groupby, sum of delay / number of flights delayed?
# need to create new columns to do the sum / count?

In [3]:
import pandas as pd
import numpy as np

In [4]:
df_airports = pd.read_csv('airports.csv')
df_airlines = pd.read_csv('airlines.csv')
df_flights = pd.read_csv('flights.csv')

C:\Users\lunbu\AppData\Local\Temp\ipykernel_11112\4208662450.py:3: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_flights = pd.read_csv('flights.csv')

In [5]:
df_flights['airport_info'] = df_flights['AIRLINE'] + df_flights['ORIGIN_AIRPORT'].astype(str)

In [6]:
df_flights['is_operated'] = df_flights['CANCELLED'].apply(lambda x : 1 if x ==0 else 0)

In [7]:
ttl_flights = df_flights.shape[0]
ttl_flights

5819079

In [8]:
ttl_operated_flights = df_flights['is_operated'].sum()
ttl_operated_flights

5729195

In [9]:
operated_rate = ttl_operated_flights /ttl_flights
operated_rate

0.9845535693878705

In [10]:
df_flights['delay_flights'] = df_flights['DEPARTURE_DELAY'].apply(lambda x : 1 if x > 0 else 0)
delayed_flights = df_flights['delay_flights'].sum()
delayed_flights

2125618

In [11]:
delay_rate = delayed_flights / ttl_operated_flights
delay_rate

0.3710151251615628

In [12]:
average_delay = df_flights.groupby ('delay_flights').agg({'DEPARTURE_DELAY':'mean'})
average_delay

               DEPARTURE_DELAY
delay_flights
0                    -4.361038
1                    32.672865

In [13]:
# average delay minutes (departure delay, float) --> exclude non-delay flights
# > groupby, mean?
# > groupby, sum of delay / number of flights delayed?
# need to create new columns to do the sum / count?

In [42]:
average = df_flights.groupby('delay_flights').agg({'delay_flights':'count',
                                                'DEPARTURE_DELAY':'mean'  })
average

               delay_flights  DEPARTURE_DELAY
delay_flights
0                    3693461        -4.361038
1                    2125618        32.672865

In [52]:
average_delay_mins = df_flights[df_flights['DEPARTURE_DELAY'] > 0].groupby('airport_info').agg({'DEPARTURE_DELAY': 'mean'})
average_delay_mins

              DEPARTURE_DELAY
airport_info
AA10140             46.019608
AA10257             27.764706
AA10299              7.333333
AA10397             23.505976
AA10423             41.618557
...                       ...
WNSNA               20.307465
WNSTL               28.778121
WNTPA               30.291083
WNTUL               30.478627
WNTUS               27.552561

[2370 rows x 1 columns]

In [28]:
df_flights.head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,airport_info,is_operated,delay_flights,average
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,NaN,NaN,NaN,NaN,NaN,NaN,ASANC,1,0,0
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,NaN,NaN,NaN,NaN,NaN,NaN,AALAX,1,0,0
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,NaN,NaN,NaN,NaN,NaN,NaN,USSFO,1,0,0
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,NaN,NaN,NaN,NaN,NaN,NaN,AALAX,1,0,0
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,NaN,NaN,NaN,NaN,NaN,NaN,ASSEA,1,0,0
5,2015,1,1,4,DL,806,N3730B,SFO,MSP,25,...,NaN,NaN,NaN,NaN,NaN,NaN,DLSFO,1,0,0
6,2015,1,1,4,NK,612,N635NK,LAS,MSP,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NKLAS,1,0,0
7,2015,1,1,4,US,2013,N584UW,LAX,CLT,30,...,NaN,NaN,NaN,NaN,NaN,NaN,USLAX,1,1,1
8,2015,1,1,4,AA,1112,N3LAAA,SFO,DFW,30,...,NaN,NaN,NaN,NaN,NaN,NaN,AASFO,1,0,0
9,2015,1,1,4,DL,1173,N826DN,LAS,ATL,30,...,NaN,NaN,NaN,NaN,NaN,NaN,DLLAS,1,1,1

,7,9,20,27,29,30,37,52,53,55
YEAR,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015
MONTH,1,1,1,1,1,1,1,1,1,1
DAY,1,1,1,1,1,1,1,1,1,1
DAY_OF_WEEK,4,4,4,4,4,4,4,4,4,4
AIRLINE,US,DL,NK,NK,AA,NK,UA,B6,B6,B6
FLIGHT_NUMBER,2013,1173,520,597,2392,168,1528,2134,730,2276
TAIL_NUMBER,N584UW,N826DN,N525NK,N528NK,N3HRAA,N629NK,N76519,N307JB,N621JB,N646JB
ORIGIN_AIRPORT,LAX,LAS,LAS,MSP,DEN,PHX,SJU,SJU,BQN,SJU
DESTINATION_AIRPORT,CLT,ATL,MCI,FLL,MIA,ORD,EWR,MCO,MCO,BDL
SCHEDULED_DEPARTURE,30,30,55,115,120,125,154,400,419,438
DEPARTURE_TIME,44.0,33.0,120.0,127.0,141.0,237.0,157.0,535.0,423.0,550.0
DEPARTURE_DELAY,14.0,3.0,25.0,12.0,21.0,72.0,3.0,95.0,4.0,72.0
TAXI_OUT,13.0,12.0,11.0,14.0,12.0,9.0,12.0,9.0,11.0,15.0
WHEELS_OFF,57.0,45.0,131.0,141.0,153.0,246.0,209.0,544.0,434.0,605.0
SCHEDULED_TIME,273.0,221.0,162.0,207.0,227.0,204.0,255.0,185.0,174.0,241.0
ELAPSED_TIME,249.0,203.0,143.0,220.0,208.0,175.0,241.0,175.0,163.0,258.0
AIR_TIME,228.0,186.0,128.0,166.0,188.0,156.0,220.0,163.0,148.0,237.0
DISTANCE,2125,1747,1139,1487,1709,1440,1608,1189,1129,1666
WHEELS_ON,745.0,651.0,539.0,527.0,701.0,622.0,449.0,727.0,602.0,902.0
TAXI_IN,8.0,5.0,4.0,40.0,8.0,10.0,9.0,3.0,4.0,6.0
SCHEDULED_ARRIVAL,803,711,537,542,707,549,509,605,613,739
ARRIVAL_TIME,753.0,656.0,543.0,607.0,709.0,632.0,458.0,730.0,606.0,908.0
ARRIVAL_DELAY,-10.0,-15.0,6.0,25.0,2.0,43.0,-11.0,85.0,-7.0,89.0
DIVERTED,0,0,0,0,0,0,0,0,0,0
CANCELLED,0,0,0,0,0,0,0,0,0,0
CANCELLATION_REASON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AIR_SYSTEM_DELAY,NaN,NaN,NaN,25.0,NaN,43.0,NaN,0.0,NaN,17.0
SECURITY_DELAY,NaN,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
AIRLINE_DELAY,NaN,NaN,NaN,0.0,NaN,0.0,NaN,85.0,NaN,72.0
LATE_AIRCRAFT_DELAY,NaN,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
WEATHER_DELAY,NaN,NaN,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
airport_info,USLAX,DLLAS,NKLAS,NKMSP,AADEN,NKPHX,UASJU,B6SJU,B6BQN,B6SJU
is_operated,1,1,1,1,1,1,1,1,1,1
delay_flights,1,1,1,1,1,1,1,1,1,1
average,1,1,1,1,1,1,1,1,1,1